
#universe {
  background-color: black;
}

.planet, .star {
  border-radius: 50%;
  position: absolute;
}

#sun {
  height: 3em;
  width: 3em;
  color: yellow;
  background-color: yellow;
  top: 30em;
  left: 30em;
}

#earth {
  height: 1em;
  width: 1em;
  color: blue;
  top: 30em;
  left: 30em;
  background-color: blue;
}

#venus {
  height: .9em;
  width: .9em;
  color: yellow;
  top: 30em;
  left: 30em;
  background-color: yellow;
}

